   body { background:black; }
 
   table { margin:10px auto;width:80%;background:#afafaf;padding:10px;-moz-border-radius: 15px;border-radius: 15px; }
   table tr td { padding:2px; }
   h1#indextitle { margin:10px auto;width:75%;color:#323B40;  }
  
   h1#indextitle
     {
       font-size: 1.5em;
       font-family:"Trebuchet MS";
     }
  
   tr.indexhead
     {
       font-size:1.25em;
       font-family:"Trebuchet MS";
     }
   tr.even
     {
       background:#87b0cc; /*  */
     }
   tr.odd
     {
       background:#afafaf; /*  */
     }
    
   tr.indexbreakrow th hr { border:0;height:1px;background:black; }
    
   th.indexcolname { text-align:left; }
   th.indexcolname a:link,
   th.indexcolname a:visited { color:#323B40;text-decoration:none; }
   th.indexcolname a:hover   { color:#a81818;text-decoration:none; }
 
   th.indexcollastmod { text-align:center; }
   th.indexcollastmod a:link,
   th.indexcollastmod a:visited { color:#323B40;text-decoration:none; }
   th.indexcollastmod a:hover   { color:#a81818;text-decoration:none; }
 
   th.indexcolsize { text-align:right;padding-right:20px; }
   th.indexcolsize a:link,
   th.indexcolsize a:visited { color:#323B40;text-decoration:none; }
   th.indexcolsize a:hover   { color:#a81818;text-decoration:none; }
 
   th.indexcoldesc { text-align:left; }
   th.indexcoldesc a:link,
   th.indexcoldesc a:visited { color:#323B40;text-decoration:none; }
   th.indexcoldesc a:hover   { color:#a81818;text-decoration:none; }
 
   td.indexcolicon { text-align:center; }
 
   td.indexcolname { font-family:verdana;font-size:1.25em; }
   td.indexcolname a:link,
   td.indexcolname a:visited { color:#323B40;text-decoration:none; }
   td.indexcolname a:hover   { color:#a81818;text-decoration:none; }
 
   td.indexcollastmod
     {
       font-family:"Trebuchet MS";
       font-size:1em;
       text-align:center;
     }
   td.indexcolsize
     {
       font-family:"Trebuchet MS";
       font-size:1em;
       text-align:right;
       padding-right:10px;
     } 
   td.indexcoldesc
     {
       font-family:"Trebuchet MS";
       font-size:1em;
       text-align:left;
       padding-right:10px;
     }