body {
	background-color:black;
	color:white;
	font: 100% Arial, Helvetica, sans-serif;
}

form {
	padding: 0;
}

.vblink {
	color: #00FF33 !important;
}

.thumbs {
	float:left;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.vbdiv {
	float:left;
	width:20%;
}

.vbimage {
	width:100%;
}

.instapic {
	height: 350px;
	white-space:nowrap;
}

.instapic>div  {
	display:inline-block
}
