body {
	background-color:black;
	color:white;
	font: 100% Arial, Helvetica, sans-serif;
}

form {
	padding: 0;
}

.thumbs {
	float:left;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.instapic div div {
	height: 350px;
	width: 50%;
}
